<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>All In One</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|IBM+Plex+Sans:600" rel="stylesheet">
    <link rel="stylesheet" href="dist/css/style.css">
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

</head>
<!--  This is the first landing page of the website -->

<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0" style="font-size:50px;">Keeping you connected wherever you are!!</h1>
                            <div class="hero-cta">
                                <br><br><br><br>
                                <a class="button button-primary" href="./direct">Create a team </a>
                                <div class="lights-toggle">
                                    <input id="lights-toggle" type="checkbox" name="lights-toggle" class="switch">
                                </div>
                            </div>
                            <br><br>

                        </div>
                        <div class="hero-media">
                            <div class="header-illustration">
                                <img class="header-illustration-image asset-light" src="dist/images/header-illustration-light.svg" alt="Header illustration">
                                <img class="header-illustration-image asset-dark" src="dist/images/header-illustration-dark.svg" alt="Header illustration">
                            </div>
                            <div class="hero-media-illustration">
                                <img class="hero-media-illustration-image asset-light" src="dist/images/hero-media-illustration-light.svg" alt="Hero media illustration">
                                <img class="hero-media-illustration-image asset-dark" src="dist/images/hero-media-illustration-dark.svg" alt="Hero media illustration">
                            </div>
                            <div class="hero-media-container">
                                <img class="hero-media-image asset-light" src="dist/images/design1.png" width="500px" alt="Hero media">
                                <img class="hero-media-image asset-dark" src="dist/images/design1.png" width="500px" alt="Hero media">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
    </div>
    <script src="dist/js/main.min.js"></script>
</body>

</html>